<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://77.223.215.67:3306/nextgenmmadiego</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="connection.username">nextgenmmadiego</property>
    <property name="hibernate.connection.password">GezFaHfKNyFnnRDM</property>
      <mapping class="diegogil.com.clases.Entrenador"/>
      <mapping class="diegogil.com.clases.Federacion"/>
      <mapping class="diegogil.com.clases.Gimnasio"/>
      <mapping class="diegogil.com.clases.Liga"/>
      <mapping class="diegogil.com.clases.Peleador"/>
      <mapping class="diegogil.com.clases.Post"/>

      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->

    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>